aqui ira la pagina de quienes somos

Connect talent and People

Impulsamos artistas a que desarrollen su potencial

alternar imagenes

-¿Quiénes somos? y a la inquierda una imagen
Somos apasionados por fomentar la cultura y la música a través de creaciones artísticas multisensoriales.
¿Qué es lo que hacemos?
Creamos piezas artísticas multiplataformas, experiencias de encuentro, representamos e impulsamos talentos a través de la difusión de contenido digital.
¿Cómo empezó todo?
Nacemos de la necesidad y deseo de artistas, ravers y público en general, de una industria sólida que represente la escena electrónica nacional
MISIÓN
Generar crecimiento y tribuna a la música electrónica, expandiendo el concepto  cultural de la misma 
VISIÓN
Posicionarnos como referente y vitrina de la música electrónica Chilena y L.A. hacia el mundo. Siendo impulsores de la carrera musical de los artistas que colaboran con nosotros.
 
Valores:
Resiliencia
Respeto
Innovación
Compromiso Social
Creatividad
Performance 


Equipo
● 	Camilo Jiménez CEO, productor ejecutivo y director general
● 	Luis Mora Productor Ejecutivo y Dj Residente y panelista de loops
● 	Angel Barroso Jefe de operaciones, Relacionador Público Corporativo y panelista de loops
● 	Florencia Vicencio  directora de arte, comunicadora Audiovisual y panelista de loops
● 	Cristóbal Falcón director de fotografía, Técnico Audiovisual, e iluminador



<a href="../../index.html">volver a inicio</a>